* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 17px;
}

::selection {
    background: #333333;
    color: #fff;
}

::-moz-selection {
    background: #333333;
    color: #fff;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #1BA3E0;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    width: 16px;
    height: 16px;
    background: #eee;
}

body {
    margin: 0;
    font-family: 'Gothic A1', 'Noto Sans KR', Arial, Helvetica, sans-serif;
    overFlow-x: hidden;
    overFlow-y: scroll;
}

.text-border {
    text-shadow: 0 0 2px #444;
}

.navbar-header {
    width: 100%;
    height: 130px;
}

.navbar-header .navbar-brand-desktop {
    float: left;
    width: 30%;
    padding-top: 33px;
    padding-left: 40px;
}

.navbar-header .logo-image-desktop {
    transition: 0.4s;
    height: 60px;
}

.navbar-right a {
    display: inline-block;
    color: black;
    margin-top: 40px;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    /*    font-weight: 700;*/
}

.navbar-right {
    float: left;
    width: 60%;
    text-align: right;
}

.sns {
    float: right;
    margin-top: 45px;
    margin-right: 35px;
    padding-top: 0;
    /* Safari 6.0 - 9.0 */
    /*    -webkit-filter: grayscale(100%);*/
    /*    filter: grayscale(100%);*/
}

.sns a i {
    font-size: 32px;
    padding: 0 10px;
}

.sns a:first-child i {
    color: #425E9B;
}

.sns a:last-child i {
    color: #1DA1F2;
}


/*
.container {
    width: 80%;
    height: 220px;
    position: relative;
}
*/

.main-visual {
    height: 700px;
    background: url("../img/meeting-room-730679.jpg") no-repeat center;
    background-size: auto;
}

h1.main-title p:first-child {
    font-size: 50px;
    font-weight: ;
    color: #fff;
}

h1.main-title p:nth-child(2) {
    font-size: 100px;
    color: ;
}

.main-title p {
    margin-left: 3%;
}

.main-title p:first-child {
    margin-top: 7%;
    color: ;
}

.main-title p:last-child {
    margin-bottom: 2%;
}

.main-title span {
    color: #D55966;
    font-size: 30px;
    vertical-align: middle;
}

.main-title p {
    width: 100%;
    float: left;
    color: $tertiary-color;
    animation-name: titleAnimation;
    animation-timing-function: ease;
    animation-duration: 3s;
}

h1.main-title p {
    animation-delay: 0.6s;
}

@keyframes titleAnimation {
    0% {
        transform: translateY(-50px);
        opacity: 1;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    }
    20% {
        transform: translateY(0);
        opacity: 1;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    }
    80% {
        transform: translateY(0);
        opacity: 1;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    }
}

.main-info {
    width: 70%;
}

.main-info p {
    line-height: 26px;
    margin-left: 5%;
}

.info-button {
    margin-left: 5%;
    margin-top: 1.5%;
}

.info-button a {
    color: blue;
    text-decoration: none;
    border: 1px solid #000;
    padding: 13px 60px;
    display: inline-block;
}

.main-content {
    margin-top: 2%;
    margin-left: 0;
    margin-bottom: 2%;
}

.works {}

.works p {
    margin: 10px 3%;
    font-size: 40px;
    font-weight: bold;
}

.works1 {
    width: 100%;
    height: 800px;
    background: url("../img/slide6.png") no-repeat center;
    background-size: cover;
    display: inline-block;
    margin-bottom: -5px;
}

.work-button {
    margin-top: 1%;
    text-align: center;
}

.work-button a {
    color: #fff;
    background: #222;
    text-decoration: none;
    border: 1px solid #000;
    padding: 13px 80px;
    display: inline-block;
}

.work-button a:hover{background: #0140D3; color:#fff; transition: 1s;}

.container {
    position: relative;
    width: 33%;
    display: inline-block;
}
.container:nth-child(3),.container:nth-child(6){width: 34%;}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.copyright {
    border-top: 1px solid #999;
    padding: 20px 3%;
}

.copyright span {
    margin: 5px 15px;
    display: inline-block;
}